<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
</head>
<body>
<div>
    <form name="fuser_list" id="fuser_list" method="post" action="{:U(Index/user_list)}">
        <label>注册时间 从</label>
        <input name="installtime_begin" id="installtime_begin" type="date" value="2016/07/28" width="100px">
        <label>到</label>
        <input name="installtime_end" id="installtime_end" type="date" value="2017/07/29" width="100px">
        <input name="user_count" id="user_count" type="submit" value="查&nbsp询">
    </form>
</div>
<div>
    <table border="solid 1px">
        <tr>
            <th width="30%">注册时间</th>
            <th width="10%">用户ID</th>
            <th width="10%">余额</th>
            <th width="10%">积分</th>
            <th width="20%">操作</th>
        </tr>
        <volist name="user_list" id="vulist">
            <tr>
                <td align="center">
                    <?php
                    $time={$vulist['registertime']};
                    echo date("Y-m-d h:i:s", $time);
                  ?>
                </td>
                <td align="center">{$vulist['userid']}</td>
                <td align="center">{$vulist['totalmoney']}</td>
                <td align="center">{$vulist['score']}</td>
                <td align="center"><a href="user_detail.html">管理</a></td>
            </tr>
        </volist>
    </table>
</div>
<script>
    function utime_to_date(utime){
        var d = new Date(utime * 1000);    //根据时间戳生成的时间对象
        var date = (d.getFullYear()) + "-" +
                (d.getMonth() + 1) + "-" +
                (d.getDate()) + " " +
                (d.getHours()) + ":" +
                (d.getMinutes()) + ":" +
                (d.getSeconds());
        return date;
    }
</script>
</body>
</html>